body {
    background-color: black;
    color: white;

}

.display-f {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
}

.timer-button {
    border: none;
    border-radius: 4px;
    background: white;
    color: black;
    font-size: 30px;
    padding: 4px 10px;
}

.timer-button:hover {
    cursor: pointer;
    background: grey;
    color: white;
}

#total_players {
    position: absolute;
    right: 30px;
    top: 10px;
    font-weight: 700px;
    font-size: 18px;


}

.display-none {
    display: none;
}

#waiting_para {
    color: white;
    width: 90vw;
    text-align: center;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;

}

#youare {
    font-size: 30px;
    margin: 0px;
    color: #ffffff;
    
}

#timerDis {
    margin: 0px;
    font-size: 40px;
    color: #ffffff;
}

